* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;

}

/* SYTAILING HEADER */
.main-header {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #ddd;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: black;

}

.main-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;

}

.main-nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 4px 6px;
    transition: color 0.3 ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-nav a:hover {
    color: #0071e3;

}

/*STYLING BUTTONS*/
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

}

a.btn-nav {
    background-color: #0071e3;
    color: white;
    transition: all 0.3 ease-in-out;
    border-radius: 6px;

}

a.btn-nav:hover {
    color: white;
    background-color: #004b96;
}

.btn-primary {
    background-color: #0071e3;
    color: white;
    margin-right: 10px;
    transition: all 0.3s;
}

.btn-secondary {
    background-color: #ddd;
    color: #1d1d1f;
    transition: all 0.3s;
}

.btn-primary:hover {
    transform: scale(1.05);

}

.btn-secondary:hover {
    transform: scale(1.05);
}

/* STYLING HERO SECTION */
.hero-section {
    padding: 80px 0;
    text-align: center;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-text {
    flex: 1;
    text-align: left;

}

.hero-text h1 {
    font-size: 64px;
    font-size: 700;
    margin-bottom: 6px;

}

.hero-text h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;

}

.hero-text p {
    font-size: 20px;
    max-width: 450px;
    margin-bottom: 30px;
    color: #6e6e73;

}

.hero-image {
    flex: 1;

}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* STYLING FEATURE SECTION */

.features-section {
    background-color: white;
    padding: 80px 0;
    text-align: center;

}

.section-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 60px;
}

.features-grid {
    display: flex;
    gap: 30px;
}

.feature-card {
    background-color: #f5f5f7;
    padding: 40px;
    border-radius: 20px;
    flex: 1;
    /* Membuat ketiga kartu memiliki lebar yang sama */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-icone{
    height: 60px;
    margin-bottom: 20px;
}

feature-card h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.feature-card p{
    font-size: 16px;
    color: #6e6e73;
}

/* STYLING FOOTER */
.main-footer{
    padding: 40px 0;
    text-align: center;
    font-size: 14px;
    color: #6e6e73;
}